.result-screen {
    background-color: #384c59;
    padding: 10px;
    text-align: right;
    color: #fff;
    font-size: 24px;
    height: 68px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;

    & input.screen {
        font-size: 24px;
        width: 100%;
        text-align: right;
        color: #fff;
        background-color: transparent;
        border: none;
        outline: none;
        &::placeholder {
            color: #eee;
        }
    }
    
    & .result {
        display: none;
    }
}