.number-buttons {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, auto);
    flex-basis: 75%;

    & button {
        color: #939292;
        font-size: 20px;
        font-weight: 300;
        border: .5px solid #000;
        text-align: center;
        padding: 5px;
        min-height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}